<%= form_with model: [@campaign, discussion_topic] do |form| %>
  <table>
    <tr>
      <td>
        <%= form.label :title %>
      </td>
      <td>
        <%= form.text_field :title, class: 'form-control' %>
      </td>
    </tr>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <tr>
      <td><%= form.submit class: 'btn btn-primary btn-sm' %></td>
    </tr>
  </table>
<% end -%>
