<h2>Details</h2>
<table class="table table-striped table-hover">
  <tbody>
    <tr>
      <th>Title: </th>
      <td><%= @campaign.title %></td>
    </tr>

    <tr>
      <th>Purpose: </th>
      <td><%= @campaign.purpose %></td>
    </tr>

    <tr>
      <th>Estimated Duration: </th>
      <td><%= @campaign.estimated_duration %></td>
    </tr>

    <tr>
      <th>All Tags: </th>
      <td><%= @campaign.all_tags %></td>
    </tr>
  </tbody>
</table>

<%= render partial: "comments/comments", locals: {commentable: @campaign } %>
<%= render partial: "comments/form", locals: {commentable: @campaign} %>

<%= link_to "back", campaigns_path %>
